* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #c5e4e7;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.5rem;
  display: grid;
  place-content: center;
}

.app {
  display: grid;
  place-items: center;
  gap: 2.3rem;
  max-width: 800px;
  margin: auto;
}
.title{
  display: grid;
  
}
.container {
  padding: clamp(2rem, 7vw, 3.5rem);
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 1rem 5rem hsla(0, 0%, 0%, 0.1);
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
}

.form {
  display: grid;
  gap: 1rem;
}

.lable-group {
  display: grid;
  text-align: left;
  gap: 0.1rem;
}

.lable {
  font-size: 1rem;
}
.fa-dollar-sign{
  position: absolute;
  margin-top: 7px;
  color: #a7d8d1;
  margin-left: 8px;
  font-size: 20px;
}
.fa-user{
  position: absolute;
  margin-top: 1.6rem;
  color: #a7d8d1;
  margin-left: 8px;
  font-size: 20px;
}
.number-wrapper {
  position: relative;
}
.num-of-people{
  font-size: 1rem;
}
.number-input {
  background-color: #c5e4e78a;
  border: none;
  width: 100%;
  font: inherit;
  text-align: right;
  padding: 0.2rem 0.5rem;
  border-radius: .5rem;
}

.lable-wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error {
  color: red;
  font-size: 1rem;
}

.tip-section {
  display: grid;
  justify-items: start;
}

.tip-amount-wraper {
  display: grid;
  gap: 1.3rem;
  grid-template-columns: repeat(3, 1fr);
}
.tip-amount input[type="radio"] {
  display: none;
}
.tip-amount {
  position: relative;
  display: grid;
}
.tip-input{
  background-color: #dce5ebd0;
  border: none;
  text-align: center;
  max-width: 5.5rem;
  font-size: 1rem;
  border-radius: .5rem;
}

.tip-btn {
  background-color: #00474B;
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem ;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
}
.tip-btn:hover {
  background-color: rgba(27, 47, 27, 0.8);
}
input[type="radio"]:checked + .tip-btn {
  background-color: #c5e4e7;
}
.display {
  background-color:#00474B;
  padding: 1.8rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.display-group {
  display: grid;
}

.display-row {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  margin-bottom: 1.5rem;
  align-items: center;
  text-align: left;
}

.display-label {
  display: grid;
  justify-items: start;
}

.header {
  color: white;
  font-weight:500;
  font-size: 18px;
  line-height: 30px;
}

.unit {
  color:#649BA0;
  font-weight:500;
  font-size: 14px;
  line-height: 26px;
}

.display-amt {
  font-size: 32px;
  color: #21C3AC;
}

.btn {
  font: inherit;
  background-color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 0.8rem;
  text-transform: uppercase;
  font-size: 1rem;
  box-shadow: 0 0 0 -0.2rem;
  transition: box-shadow 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}
.btn:hover{
  background-color: #1d8b91dc;
  color: white;
}

.btn:focus {
  outline: none;
}

@media screen and (max-width: 760px) {
  .tip-amount-wraper {
    grid-template-columns: repeat(2, 1fr);
  }
  .app {
    
    gap: 2rem;
    max-width: 600px;
  }
  .container {
    grid-auto-flow: column;
  }
}
@media screen and (max-width: 600px) {
  .tip-amount-wraper {
    grid-template-columns: repeat(2, 1fr);
  }
  .app {
    
    gap: 2rem;
    max-width: 300px;
  }
  .container {
    grid-auto-flow: row;
  }
}